<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>
<body>
    <h1>I'm here</h1>
    <div class="forma"></div>

    <form action="/postear" method="POST">
        <label for="ftitle">Title:</label><br>
        <input type="text" id="ftitle" name="ftitle" class="tinput"><br>
        <label for="lcont">Comntent:</label><br>
        <textarea type="text" id="lcont" name="lcont" class="cinput"></textarea><br><br>
        <input type="submit" value="Submit">
      </form> 
    
</body>
</html>